.result-image {
    height: 50vh;
    margin: 2%;
}

.result-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    font-size: 2.5vh;
}

.project-background,
.problem,
.motivation {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.description-image {
    width: 50%;
}

.problem {
    width: 90%;
}

.motivation {
    width: 80%;
}

#old-kudos {
    width: 100%;
}